.vs/
*.exe
*.pdb
*.cache
*.suo
*.csproj.GenerateResource.cache
*.csproj.AssemblyReference.cache
*.csproj.SuggestedBindingRedirects.cache
*.csproj.CoreCompileInputs.cache
.suo
.suo/




*.cache
Talho/obj/Debug/Talho.csproj.GenerateResource.cache
Talho/bin/Debug/Talho.pdb
Talho/obj/Debug/Talho.csproj.AssemblyReference.cache

.vs/Talho/v17/.suo

Talho/obj/Debug/Talho.csproj.FileListAbsolute.txt
